* {
  box-sizing: border-box;

}

body {
  /* border: 1px solid rgb(150, 150, 150); */
  box-sizing: content-box;

  width: 480px;
  height: 767px;

  font-family: Helvetica;

  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

}

div {
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(209, 209, 209);

  display: flex;
  
  font-size: 16px;
  color: rgb(69, 69, 69);

  justify-items: center;

}

div > p {
  /* border: 1px solid red; */

  width: 100%;
  height: auto;

  align-self: center;
  text-align: center;
}

#middle {
  border: none;
  display: flex;
  flex-wrap: wrap;

  width: fit-content;

  /* align-content: flex-start; */
}



@media only screen and (min-width: 768px){

  body {
    /* border: 1px dashed red; */
    padding: 0;

    width: 960px;
    box-sizing: content-box;

  }

  #b {
    float: left;
  }

  div:nth-child(1){
    float: left;
  }

  #desktop-middle{
    float: right;
  }

}
